.singlePost > p {
    font-size: 18px;
    line-height: 38px;
    text-align: justify;
    text-justify: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.singlePost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}